/*/ Code Your Solution Below /*/

body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

form {
    max-width: 400px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input, select, button {
    margin-top: 5 px;
    margin-bottom: 10px;
}

.error {
    border: 1px solid red;
}